<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h2>Registration form :</h2>
    <form action="/auth/register" method="POST">
        <div>
            <label>Name </label>
            <input type="text" name="name" placeholder="full name" />
        </div>
        <br />
        <div>
            <label>Email </label>
            <input type="email" name="email" placeholder="email" />
        </div>
        <br />
        <div>
            <label>Password </label>
            <input type="text" name="password" placeholder="password" />
        </div>
        <br />
        <input type="submit" />
    </form>

</body>

</html>