<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Produk</title>
</head>
<body>
    <h2>Buat Produk :</h2>
    <form action="/products" method="POST">
        <div>
            <label>Nama </label>
            <input type="text" name="name" placeholder="nama produk" />
        </div>

        <br/>

        <div>
            <label>Harga </label>
            <input type="number" name="price" placeholder="harga produk" />
        </div>

        <br/>

        <input type="submit"/>
    </form>
</body>
</html>